:root {
    --bg-colour: #ffffff;
    --text-colour: #241f31;
    transition: background-color 0.25s ease, color 0.25s ease;
}

body {
    background-color: var(--bg-colour);
    color: var(--text-colour);
    padding: 4em 6em;
    font-size: 1.2em;
    transition: background-color 0.25s ease, color 0.25s ease;
    font-family: "Be Vietnam Pro", sans-serif;
}

body.dark-mode {
    --bg-colour: #241f31;
    --text-colour: #ffffff;
}

.main-container div.intro {
    font-size: 8em;
    font-weight: 900;
    letter-spacing: -3pt;
    line-height: 0.85em;
    text-transform: uppercase;
}

.main-container div.text {
    margin: 2em;
}

.main-container div.text p {
    padding: 0.2em 0;
}

button#toggle-mode {
    position: fixed;
    top: 2rem;
    right: 2rem;
    z-index: 1000;
    padding: 0.4rem 1.0rem;
    cursor: pointer;
    background-color: var(--text-colour);
    color: var(--bg-colour);
    border: 2px solid var(--bg-colour);
    font-weight: bold;
    font-family: "Be Vietnam Pro", sans-serif;
    border: 0;
    border-radius: 1rem;
    transition: background-color 0.25s ease, color 0.25s ease, border-color 0.25s ease;
}

button#toggle-mode:hover {
    padding: 0.4rem 1.0rem;
    border: 2px solid var(--text-colour);
    background-color: var(--bg-colour);
    color: var(--text-colour);
}