:root {
    --bg-colour: #ffffff;
    --text-colour: #241f31;
    --blockquote-bg-colour: #d3bff2;
    transition: background-color 0.25s ease, color 0.25s ease;
}

body {
    background-color: var(--bg-colour);
    color: var(--text-colour);
    font-size: 1.2em;
    transition: background-color 0.25s ease, color 0.25s ease;
    font-family: "Be Vietnam Pro", sans-serif;
}

body.dark-mode {
    --bg-colour: #241f31;
    --text-colour: #ffffff;
    --blockquote-bg-colour: #573688;
}

.main-container {
    padding: 3em 4em;
}

.main-container div.intro {
    margin-top: 2rem;
    font-size: 8em;
    font-weight: 900;
    letter-spacing: -3pt;
    line-height: 0.85em;
    text-transform: uppercase;
}

.main-container p {
    padding: 0.2em 0;
}

.main-container div.text {
    margin: 2em;
}

.main-container div.text.page-credits {
    font-size: 0.75em;
    font-weight: 600;
}

.main-container :is(h1, h2, h3, h4, h5, h6) {
    margin: 0.25em 0;
    font-weight: 800;
}

.main-container hr {
    border: 3px solid var(--text-colour);
    border-radius: 1em;
    margin: 10px 0;
}

.main-container code {
    font-weight: normal;
    color: #8542dc;
    background-color: #d2afff;
    padding: 0 0.2em;
    border: 3px solid #8542dc;
    border-radius: 0.5em;
}

.main-container :is(h1, h2, h3, h4, h5, h6) > code {
    font-weight: bold;
    position: relative;
    top: -3px;
}

.main-container blockquote {
    position: relative;
    background-color: var(--blockquote-bg-colour);
    margin: 2em 8em;
    padding: 2em 4em;
    border-radius: 1em;
}

.main-container blockquote::before {
    content: "❝";
    position: absolute;
    top: -0.3em;
    left: -0.3em;
    font-size: 3.5em;
    line-height: 1;
    color: #160b48;
    user-select: none;
    pointer-events: none;
    background: #692deb;
    border-radius: 8px;
    padding: 0.3em 0.5em;
}

.main-container blockquote > div.quote {
    margin-left: 4em;
}

.main-container blockquote > div.quote p {
    margin: 0;
    margin-bottom: 1em;
    font-weight: 300;
    font-size: 1.15em;
    font-style: italic;
}

.main-container blockquote > div.quote p > strong {
    font-weight: 500;
}

.main-container blockquote > div.quote > cite {
    font-weight: bold;
    font-size: 0.85em;
}

.main-container blockquote > div.quote > cite::before {
    content: "— ";
}

button {
    position: fixed;
    top: 3rem;
    right: 3rem;
    z-index: 1000;
    padding: 0.4rem 1rem;
    cursor: pointer;
    background-color: var(--text-colour);
    color: var(--bg-colour);
    font-weight: bold;
    font-family: "Be Vietnam Pro", sans-serif;
    border: 2px solid var(--bg-colour);
    border-radius: 1rem;
    transition: background-color 0.25s ease, color 0.25s ease, border-color 0.25s ease;
}

button:hover {
    border: 2px solid var(--text-colour);
    background-color: var(--bg-colour);
    color: var(--text-colour);
}

a {
    text-decoration-line: none;
}

a:link {
    color: #741ce3;
}

a:visited {
    color: #741ce3;
}

a:active {
    color: #9f60ef;
}

a:hover {
    color: #9f60ef;
    text-decoration-line: underline;
}

@media only screen and (max-width: 412px) and (orientation: portrait) {
    body {
        font-size: 0.98em;
    }
    
    .main-container {
        padding: 0.5em 1em;
    }
    
    .main-container div.intro {
        font-size: 2.2em;
        letter-spacing: -1pt;
        line-height: 0.9em;
    }
    
    .main-container div.text {
        margin: 1em;
    }
    
    button {
        top: 1rem;
        right: 1rem;
        padding: 0.2rem 0.5rem;
        font-weight: 800;
    }
    
    .main-container :is(h1, h2, h3, h4, h5, h6) {
        font-size: 1.5em;
        font-weight: bold;
    }

    .main-container :is(h1, h2, h3, h4, h5, h6) > code {
        position: relative;
        top: -1px;
    }
    
    .main-container code {
        font-weight: 500;
        border: 1px solid;
        border-radius: 0.5em;
    }

    .main-container blockquote {
        background-color: var(--blockquote-bg-colour);
        margin: 1em 0.4em;
        padding: 1em;
        border-radius: 0.75em;
    }
    
    .main-container blockquote::before {
        position: absolute;
        top: -0.15em;
        left: -0.15em;
        font-size: 2.75em;
        line-height: 1;
        padding: 0.05em 0.17em;
    }

    .main-container blockquote > div.quote {
        margin-left: 2em;
    }

    .main-container blockquote > div.quote p {
        margin: 0;
        margin-bottom: 0.5em;
        font-size: 1em;
    }
}

@media only screen and (max-width: 960px) and (orientation: landscape) {
    body {
        font-size: 1em;
    }
    
    .main-container {
        padding: 0.5em 2em;
    }
    
    .main-container div.intro {
        font-size: 3em;
        letter-spacing: -1pt;
        line-height: 0.9em;
    }
    
    .main-container div.text {
        margin: 1em;
    }
    
    button {
        top: 1rem;
        right: 1rem;
        padding: 0.2rem 0.5rem;
        font-weight: 800;
    }
    
    .main-container :is(h1, h2, h3, h4, h5, h6) {
        font-size: 1.5em;
        font-weight: bold;
    }
    
    .main-container code {
        font-weight: 500;
        border: 1px solid;
        border-radius: 0.5em;
    }

    .main-container blockquote {
        background-color: var(--blockquote-bg-colour);
        margin: 1em 0.4em;
        padding: 1em;
        border-radius: 0.75em;
    }

    .main-container blockquote {
        background-color: var(--blockquote-bg-colour);
        margin: 1em 0.4em;
        padding: 1em;
        border-radius: 0.75em;
    }
    
    .main-container blockquote::before {
        position: absolute;
        top: -0.15em;
        left: -0.15em;
        font-size: 2.75em;
        line-height: 1;
        padding: 0.05em 0.17em;
    }

    .main-container blockquote > div.quote {
        margin-left: 2em;
    }

    .main-container blockquote > div.quote p {
        margin: 0;
        margin-bottom: 0.5em;
        font-size: 1em;
    }
}